@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Kanit", serif;
  transition: all 0.1s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

section {
  padding: 2rem 7%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  background-color: #bdbdbd93;
  /* backdrop-filter: blur(100px); */
  /* background: transparent; */
  padding: 2rem 7%;
  z-index: 1;
}

.header-logo {
  width: 20%;
}

.header-logo img {
  height: 6rem;
}

.navbar-items {
  width: 40%;
  display: flex;
  gap: 7rem;
  margin-left: 20rem;
}

.navbar-items a {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}

.navbar-items a:hover {
  color: #ea0505;
  border-bottom: 1px solid #ea0505;
}

.nav-cta {
  width: 20%;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.nav-cta a {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
}

.nav-cta a:hover {
  background-color: #ea0505;
}

.nav-cta .login {
  background-color: rgba(225, 225, 225, 0.399);
  padding: 0.5rem 1.5rem;
  border-radius: 9px;
  backdrop-filter: blur(10px);
}

.nav-cta .subscribe {
  padding: 0.5rem 1rem;
  border-radius: 9px;
  border: 1px solid white;
}

/* header section ends here  */

/* hero section starts from here  */
.hero {
  background: linear-gradient(
      to left,
      transparent,
      rgba(41, 39, 39, 0.591),
      rgba(20, 20, 20, 0.619)
    ),
    url(./Assets/Rectangle\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20rem;
  height: 85rem;
}

.hero .hero-top {
  width: 50%;
}

.hero .hero-top h1 {
  text-transform: uppercase;
  font-size: 9.5rem;
  font-weight: 600;
  line-height: 1;
  color: #ea0505;
}

.hero .hero-top p {
  font-size: 2rem;
  font-weight: 200;
  line-height: 3;
  letter-spacing: 3.5px;
  color: white;
  margin-bottom: 5rem;
}

.hero .music {
  width: 35%;
  padding: 20px 30px;
  box-shadow: 0 0 20px rgba(red, 0, 0, 0.4);
  background-color: black;
  color: white;
  border-radius: 30px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 3rem;
}

.hero .music p {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.hero .music img {
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.hero .music div {
  flex: 1;
}

.listeners {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}

.listeners img {
  /* height: 8rem; */
}

.listeners .image2 {
  position: absolute;
  left: 14rem;
}

.listeners .image3 {
  position: absolute;
  left: 18rem;
  height: 6rem;
}

.listeners .image4 {
  position: absolute;
  left: 23rem;
  height: 6rem;
  width: 6rem;
  background-color: #3f3b3b;
  font-size: 1rem;
  letter-spacing: 1.5px;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listeners .world {
  position: absolute;
  left: 30rem;
  font-size: 1.2rem;
  color: white;
  letter-spacing: 1.5px;
}
/* hero sectionsection ends here  */

/* card starts here  */
.card {
  width: 90%;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  position: relative;
  bottom: 6rem;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  /* gap: 6rem; */
}

.card-left {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 3rem;
}

.card-left .details p {
  color: #00000080;
  font-size: 1.3rem;
  line-height: 3;
}

.card-left .details h3 {
  font-size: 1.5rem;
}

.card-left .details span {
  font-size: 1.3rem;
  color: #00000080;
}

.card-left img:hover {
  cursor: pointer;
}

.card-right .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-right .top .top1 {
  display: flex;
  gap: 1rem;
}

.card-right .top .top1 img {
  height: 1.5rem;
  display: flex;
}

.card-right .top .top1 img:hover {
  cursor: pointer;
}
/* card ends here  */

/* trending starts fromhere  */
.trending-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.trending-top h1 {
  font-size: 3rem;
}

.trending-top p {
  font-size: 1.5rem;
  color: #00000080;
}

.trending-details {
  display: flex;
  align-items: center;
  /* gap: 5rem; */
}

.trending-left {
  width: 60%;
}

.trending-left img {
  width: 30rem;
}

.trending-left .t-image2 {
  width: 25rem;
  position: relative;
  right: 5rem;
}

.trending-right {
  width: 50%;
}

.trending-right .title {
  font-size: 1.8rem;
  font-weight: 300;
  color: #00000080;
  line-height: 3;
}

.trending-right h3 {
  text-align: justify;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.trending-right .middle {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.trending-right .middle h5 {
  font-size: 1.7rem;
  font-weight: 250;
  color: #00000080;
}

.trending-right .middle h6 {
  font-size: 1.7rem;
  font-weight: 250;
}

.trending-right .lorem {
  font-size: 1.5rem;
  text-align: justify;
  color: #00000080;
  margin-bottom: 3rem;
}

.trending-right .down {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.trending-right .down img {
  height: 4rem;
}

.trending-right .down img:hover {
  cursor: pointer;
}

.trending-right .down-middle h2 {
  font-size: 1.6rem;
  font-weight: 400;
}

.trending-right .down-middle p {
  font-size: 1rem;
  font-weight: 300;
  color: #00000080;
}

.trending-right .down h4 {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  font-weight: 300;
  border-radius: 20px;
}

.trending-right .down h4:hover {
  background-color: #ea0505;
  color: white;
  cursor: pointer;
}
/* trending ends here  */

/* explore starts from here  */
.explore {
  margin-top: 10rem;
}

.explore-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.explore-top h1 {
  font-size: 3rem;
}

.explore-links {
  display: flex;
  gap: 5rem;
}

.explore-links a {
  color: black;
  font-size: 1.7rem;
  color: #00000080;
}

.explore-links a:hover {
  background-color: #ea0505;
  color: white;
  padding: 0.3rem;
  border-radius: 10px;
}

.explore-all {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
}

.explore-left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 40%;
}

.explores {
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10px;
  gap: 2rem;
  width: 90%;
}

.explores .e-image {
  height: 10rem;
}

.explore-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.explore-details p {
  color: #00000080;
}

.explore-inline {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.explore-inline img {
  height: 2rem;
}

.explore-inline img:hover {
  cursor: pointer;
}

.explore-right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 40%;
}
/* explore ends here  */

/* offer starts from here  */
.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  padding-bottom: 10rem;
}

.offer h1 {
  font-size: 3rem;
}

.offer p {
  font-size: 1.5rem;
  color: #00000080;
  width: 25%;
  text-align: center;
}

.offer-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  gap: 5rem;
}

.offer-detail {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.offer-detail img {
  height: 5rem;
}

.offer-detail h1 {
  font-size: 1.8rem;
  line-height: 3;
}

.offer-detail p {
  width: 75%;
}
/* offr ends here  */

/* testiminila here  */
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background: url(./Assets/Mask\ group.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60rem;
  color: white;
}

.testimonials p {
  font-size: 2rem;
  color: white;
  line-height: 3;
}

.testimonials h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 7rem;
}

.testimonials-cards {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}

.test-image {
  background-color: white;
  border-radius: 50%;
}

.test-image:hover {
  cursor: pointer;
}

.testimonials-card {
  background-color: #fff;
  width: 25%;
  height: 30rem;
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.testimonials-card h1 {
  font-size: 1.7rem;
  color: black;
  margin-bottom: 2rem;
}

.testimonials-card span {
  color: #00000080;
}

.testimonials-card p {
  font-size: 1.2rem;
  color: #00000080;
  line-height: 1.5;
}

.card-bottom {
  color: black;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.card-bottom p {
  font-size: 1rem;
}
/* testimonial ends  */

/* features starts here  */

.features {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.features h1 {
  font-size: 3rem;
  margin-top: 5rem;
  line-height: 2;
}

.features p {
  font-size: 2.5rem;
  color: #00000080;
  margin-bottom: 4rem;
}
.toogle .pay {
  color: black;
  font-size: 2rem;
}

.toogle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.toogle-button {
  background-color: #3f3b3b;
  width: 100px;
  height: 40px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  bottom: 2rem;
  transition: 0.5s;
}

.toogle-button::before {
  position: absolute;
  content: "";
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 200px;
  transition: 0.5s;
}

input:checked + .toogle-button {
  background-color: #ea0505;
}

input:checked + .toogle-button::before {
  transform: translateX(60px);
}

.toogle input {
  display: none;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.plan {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  padding: 3rem;
  border-radius: 50px;
  /* width: 40%; */
}

.plan:hover {
  background-color: #ea0505;
  color: white;
  cursor: pointer;
  padding: 5rem;
}

.plan:hover p {
  color: white;
}

.plan:hover span {
  color: white;
}

.plan:hover h5 {
  background-color: white;
  color: black;
}

.plan:hover .rate img {
  overlay: white;
}

.plan h4 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.plan span {
  font-size: 1.5rem;
  color: #00000080;
}

.plan p {
  font-size: 8rem;
  font-weight: 500;
  color: black;
  margin: 0;
}

.plan h5 {
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 40px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
}

.rate {
  display: flex;
  align-items: center;
  gap: 2rem;
  /* justify-content: center; */
}

.rate img {
  height: 2rem;
  margin-top: 2rem;
}

.rate p {
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  margin-top: 2rem;
  margin-bottom: 0;
}

.features-bottom {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 2rem 5rem;
  margin: 0;
  gap: 5rem;
  background-color: black;
  width: 100%;
  height: 30em;
  border-radius: 50px;
}
.f-bottom-left {
  width: 50%;
  color: #fff;
  border: 2px solid black;
}

.f-bottom-left h3 {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 1px;
}

.f-bottom-left p {
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 1px;
  margin: 0;
  line-height: 3;
}

.f-bottom-right {
  width: 60%;
}

.f-bottom-right img {
  height: 30rem;
}

.f-details {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
}

.f-details input {
  padding: 0.5rem;
  border-radius: 30px;
  outline: none;
  background-color: black;
  color: white;
}

.f-details button {
  padding: 0.5rem 2.5rem;
  border-radius: 30px;
  outline: none;
  border: none;
}

.f-details button:hover {
  cursor: pointer;
  background-color: #ea0505;
  color: white;
}
/* features ends here  */

/* footer starts from here  */
.footer {
  margin-top: 15rem;
  background-color: black;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6rem 0;
}

.footer-top h1 {
  color: white;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1px;
  width: 35%;
}

.footer-top p {
  background-color: white;
  padding: 1rem 3rem;
  font-size: 2rem;
  border-radius: 30px;
}

.footer-top p:hover {
  background-color: #ea0505;
  color: white;
  cursor: pointer;
}

hr {
  border-bottom: 1px solid #00000080;
  margin-bottom: 5rem;
}

.footer-middle {
  display: flex;
  color: white;
  width: 100%;
  gap: 15rem;
}

.footer-middle h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.footer-middle p {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 200;
}

.footer-middle p:hover {
  color: #ea0505;
}

.footer-middle1 {
  width: 30%;
}

.footer-middle1 p {
  line-height: 1.5;
  font-weight: 200;
}

.footer-middle1 p:hover {
  color: white;
}

.footer-socials {
  margin-bottom: 3rem;
  cursor: pointer;
}

/* footer ends here  */

@media (min-width: 1281px) {
  .hero .hero-top h1 {
    width: 90%;
  }
}
